.App {
  text-align: center;
}

#btnSubmit{
  border: none;
  background-color: lightblue;
  font-weight:bolder;
  font-size: large;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin-bottom: 50px;
}

#heading{
  padding: 20px;
  margin-top: 50px;
}